<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="custom.css">
        <title>Global Shopping Mall</title>
        <style>
            body {
                background-color: #DCDCDC;
            }
            .bs-example{
    	         margin: 200px;
               }
            /* Search bar Style */
            input[type=text] {
                width: 360px;
                box-sizing: border-box;
                border: 1px solid #ccc;
                border-radius: 17px;
                font-size: 10px;
                background-color: white;
                background-image: url('searchicon.png');
                background-position: 10px 10px;
                background-repeat: no-repeat;
                padding: 9px 20px 10px 20px;
                outline: none;
            }
            .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .dropdown-toggle{
                background-color: #F0F5F5 !important;
                border-color: #DCDCDC;
                color: #737373;
            }
            table {
                  font-family: arial, sans-serif;
                  border-collapse: collapse;
                  width: 100%;
                }

                td, th {
                  border: 1px solid #dddddd;
                  text-align: left;
                  padding: 8px;
                }

                tr:nth-child(even) {
                  background-color: #dddddd;
                }
        </style>
    </head>
    <body>
        <div class="container-fluid">
        <br>
            <!-- Search and Create Floor -->
            <div class="row">
                <div class="col-sm-10">
                          <div class="well" style="background-color: #DCDCDC; border-color: #DCDCDC;">
                              <form class="example" action="#" style="margin: 1px;max-width:300px;">
                                  <input type="text" name="search" placeholder="Search..">
                              </form>
                          </div>
                </div>
                <div class="col-sm-2">
                    <div class="well" style="background-color: #DCDCDC; border-color: #DCDCDC;">
                        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">
                            Create Floor
                        </button>
                        <!-- The Modal -->
                      <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                          <div class="modal-content" style="border-radius: 15px;">
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">Create Floor</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <!-- Modal body -->
                            <div class="container">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="floorName">Floor Name:</label>
                                          <div class="col-sm-10">
                                            <input type="floorName" class="form-control" id="floorName" placeholder="Enter Floor Name" name="floorName">
                                        </div><br><br>
                                        </div>
                                        <div class="form-group">
                                          <label class="control-label col-sm-2" for="description">Description:</label>
                                          <div class="col-sm-10">
                                            <textarea type="description" class="form-control" rows="10" id="description" placeholder="Insert Description" name="description"></textarea>
                                          </div>
                                      </div><br><br>
                                </div>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer" style="padding: 40px;">
                              <button type="button" class="btn btn-primary">Save</button>
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- Status and Calendar Row -->
            <div class="container-fluid">
            <br>
                <div class="row">
                    <div class="col-sm-10">
                              <div class="well" style="background-color: #DCDCDC; border-color: #DCDCDC;">
                              </div>
                    </div>
                    <div class="well" style="background-color: #DCDCDC; border-color: #DCDCDC;">
                        <div class="dropdown" >
                            <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <i class="fa fa-bars" style="font-size:36px;"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Active and Deactivate <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="-1" href="#">2nd Level</a><li>
                                            <li class="dropdown-submenu">
                                                <a class="test" href="#">Another drop <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">3rd Level</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                                <!-- <a class="dropdown-item" href="#">Menu Item</a> -->

                </div>
                <!-- EXPORT BAR -->
                <div class="row">
                    <div class="col-sm-10">
                              <div class="well" style="background-color: #DCDCDC; border-color: #DCDCDC;">
                              </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="well dropdown" style="background-color: #DCDCDC; border-color: #DCDCDC;">
                            <button type="button" class="btn btn-secondary dropdown-toggle btn-lg btn-block" id="exportButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Export
                            </button>
                            <div class="dropdown-menu" aria-labelledby="exportButton">
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-file-pdf-o fa-3x"></i></a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-file-excel fa-3x"></i></a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-file-csv fa-3x"></i></a>
                            </div>

                        </div>
                    </div>
                </div>

                    <!-- TABLE CONTENT -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="well" style="border-radius: 15px; height:auto;">
                                    <table>
                                        <tr>
                                            <th>No</th>
                                            <th>Floor Name</th>
                                            <th>Description</th>
                                            <th>Created Date and Time</th>
                                            <th>Updated Date and Time</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr>
                                            <th>1</th>
                                            <th>Ground Floor</th>
                                            <th>Parking</th>
                                            <th>1st March 2021 14:28:30</th>
                                            <th>None</th>
                                            <th>
                                                <button type="button" onclick="" style="background-color: #008CBA; font-size: 12px; border-radius: 5px;">Edit</button>
                                                <button type="button" onclick="" style="background-color: #f44336; font-size: 12px; border-radius: 5px;">Active/Deactive</button>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>1</th>
                                            <th>1st Floor</th>
                                            <th>Women Fashion</th>
                                            <th>24th September 1999 13:38:30</th>
                                            <th>None</th>
                                            <th>
                                                <button type="button" onclick="" style="background-color: #008CBA; font-size: 12px; border-radius: 5px;">Edit</button>
                                                <button type="button" onclick="" style="background-color: #f44336; font-size: 12px; border-radius: 5px;">Active/Deactive</button>
                                            </th>
                                        </tr>

                                </div>
                            </div

<script>

</script>

    </body>
</html>
